html {
  --grass-green: #77a15d;
  --sky-blue-top: #cdfbff;
  --sky-blue-bottom: #5ae2ff;

  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: var(--sky-blue-top);
  background-image: url('/bg.png');
}

#root {
  background: var(--grass-green);
  padding-bottom: 2rem;
}

* {
  image-rendering: pixelated;
}
